h1 {
    color: $blue;
    background: transparent;
    margin: 0;
    padding: 0 0 10px 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    background-size: cover;
    background: url('../images/header-background.jpg');
    // background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 21vw;
    letter-spacing: 15px;
    text-align: center;
    text-transform: uppercase;
    line-height: 230px;
    position: relative;
    .fa-gem {
        height: 180px;
        display: inline;
        vertical-align: 10%;
        font-size: 10vw;
    }
    @media (max-width: 940px) {
        line-height: 160px;
        color: $blue;
        background: $dark;
        -webkit-text-fill-color: $blue;
        .fa-gem {
            vertical-align: middle;
        }
    }
    @media (max-width: 650px) {
        line-height: 90px;
    }
}

h3 {
    color: white;
    font-family: 'Roboto Slab', monospace;
    font-size: 45px;
    text-transform: uppercase;
    margin-left: 10%;
    margin-top: 25px;
    display: inline-block;
    position: relative;
    z-index: 0;
    &.h3--right {
        float: right;
        margin-right: 10%;
    }
    @media (max-width: 650px) {
        margin: 30px 10px 10px 10px;
        text-align: center;
    }

}

h4 {
    color : white;
    background: $red;
    font-family: 'Roboto', serif;
    font-size: 35px;
    text-transform: uppercase;
    font-style: italic;
    margin: 0 10% 30px 10%;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
}

label {
    color: $beige-font;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    &:hover {
        color: $beige;
        text-decoration: underline;
    }
    @media (max-width: 650px) {
        font-size: 14px;
    }
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 200px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    margin-left: 10%;
    margin-top: 30px;
    font-size: 20px;
    color: $beige-font;
    letter-spacing: 1px;
    border-radius: 5px;
    &--right {
        float: right;
        margin-right: 10%;
    }
    @media (max-width: 650px) {
        margin: 30px auto;
    }
}

header p {
    font-family: 'Pinyon Script', cursive;
    color: $beige;
    font-size: 30px;
    line-height: 25px;
    position: relative;
    @media (max-width: 650px) {
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 50px;
    }
}

.insta {
    p {
        font-family: 'Roboto', serif;
        font-weight: 700;
        color: #262626;
        font-size: 14px;
        margin: 10px 0 10px 10px;
        .text {
            font-weight: 400;
        }
    }
    .view-all, .time {
        color: #999;
        font-weight: 400;
    }
    .time {
        text-transform: uppercase;
        font-size: 11px;
    }
}
