$blue: #436e9b;
$beige: #d4bca6;
$dark: #1d110b;
$dark-beige: #906B47;
$red: rgb(241, 74, 116);
$beige-font: lighten($beige, 20);

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card {
    width: 50%;
    min-width: 640px;
    height: 60%;
    margin-left: 10%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    z-index: 5;
    &--right {
        float: right;
        margin-right: 10%;
    }
    @media (max-width: 940px) {
        min-width: auto;
        width: 80%;
        margin-bottom: 60px;
    }
    @media (max-width: 650px) {
        height: 50%;
        width: 90%;
        margin: auto;
        padding: 15px 15px 15px 35px;
        margin-bottom: 0;
    }
}

ul {
    margin-top: 0;
    li {
        position: relative;
        @media (max-width: 650px) {
            padding: 5px 0;
        }
    }
}

input[type="radio"] {
    display: none;
    &:checked ~ label {
        color: $beige;
        &::before {
            background: $beige;
            border-color: $beige;
        }
    }
}

label {
    display: block;
    float: left;
    padding-left: 20px;
    &::before {
        content: '';
        position: absolute;
        right: 100%;
        height: 15px;
        width: 15px;
        background: transparent;
        border: 3px solid lighten($beige, 20);
        border-radius: 50%;
    }
    &:hover {
        cursor: pointer;
    }
}



// label {
//     display: block;
// }